<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esli.fireturretlib">

    <application>
        <service
            android:name=".service.BinderService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>